$green: #00FF00;
$red: #ff0000;
$yellow: #ffff00;
$btc-colour: #FFB01D;
$eth-colour: #6F7BB9;
$ltc-colour: #B4B4B4;

*, *:before, *:after {
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 100%;

    body {
        margin: 0;
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;

        .profiles {
            height: 80%;
            display: flex;
            justify-content: space-between;
            padding: 4% 0 6%;
            
            .profile {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .name {
                    font-size: 5vw;
                }
                .profit {
                    .label {
                        font-size: 1.8vw;
                        margin-bottom: 0.3vw;
                    }
                    .value {
                        font-size: 4vw;
                        
                        &.positive {
                            color: $green;
                        }
                        &.negative {
                            color: $red;
                        }
                    }
                }
                .investment {
                    .label {
                        font-size: 1.8vw;
                        margin-bottom: 0.3vw;
                    }
                    .value {
                        font-size: 2.5vw;
                        color: $yellow;
                    }
                }
                .assets {
                    .label {
                        font-size: 1.8vw;
                        margin-bottom: 0.3vw;
                    }
                    .coin {
                        font-size: 2vw;
                        margin-bottom: 0.3vw;

                        &.btc {
                            color: $btc-colour;
                        }
                        &.eth {
                            color: $eth-colour;
                        }
                        &.ltc {
                            color: $ltc-colour;
                        }
                    }
                }
            }
        }
        .coins {
            height: 20%;
            display: flex;
            
            .coin {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1vw solid #000;
                

                &.btc {
                    color: $btc-colour;
                    border-color: $btc-colour;
                }
                &.eth {
                    color: $eth-colour;
                    border-color: $eth-colour;
                }
                &.ltc {
                    color: $ltc-colour;
                    border-color: $ltc-colour;
                }
                .name {
                    font-size: 1.8vw;
                    margin-bottom: 0.3vw;
                }
                .current-price {
                    font-size: 3.5vw;
                }
            }
        }
    }
}
